<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.antigenmhc.otaku.service.manager.mapper.AnimeMapper">

    <sql id="columns">
        oan.id,
        oan.title,
        oan.price,
        oan.cover,
        oan.buy_count as buyCount,
        oan.view_count as viewCount,
        oan.status,
        oan.gmt_create as gmtCreate,
        oan.anime_num as animeNum,
        oad.name as adminName,
        os1.title as subjectTitle,
        os2.title as subjectParentTitle
    </sql>
    
    <sql id="ifs">
        <where>
            <if test="queryVo.title != null">
                oan.title like "%"#{queryVo.title}"%"
            </if>
            <if test="queryVo.adminId != null">
                and oan.admin_id = #{queryVo.adminId}
            </if>
            <!-- 模糊查询, 从关联后的表中，模糊查询到与
            查询条件中的 subjectId 对应的 title 相似的记录 -->
            <if test="queryVo.subjectId != '' and queryVo.subjectId != null">
                and os1.title like concat('%',
                    (
                    select ios.title from er_ci_yuan.otaku_subject as ios
                    where ios.id = #{queryVo.subjectId}
                ), '%')
            </if>
            <if test="queryVo.subjectParentId != null">
                and oan.subject_parent_id = #{queryVo.subjectParentId}
            </if>
        </where>
    </sql>

    <sql id="tables">
        from er_ci_yuan.otaku_anime as oan
        inner join er_ci_yuan.otaku_admin as oad
            on oan.admin_id = oad.id
        inner join er_ci_yuan.otaku_subject as os1
            on oan.subject_id = os1.id
        inner join er_ci_yuan.otaku_subject as os2
            on oan.subject_parent_id = os2.id
    </sql>

    <select id="selectAnimeByQuery"
            resultType="AnimeVo"
            parameterType="AnimeQueryVo"
            >
        select
            <include refid="columns"/>
            <include refid="tables"/>
            <include refid="ifs"/>
        order by oan.gmt_create desc
    </select>

    <select id="getAnimePublishInfoById"
            parameterType="string"
            resultType="AnimePublishVo">
        select
            oan.id,
            oan.title,
            oan.price,
            oan.cover,
            oan.anime_num as animeNum,
            oad.name as adminName,
            os1.title as subjectTitle,
            os2.title as subjectParentTitle
        <include refid="tables"/>
        where
            oan.id = #{id}
    </select>

    <select id="getRecordsNameByKey"
            resultType="Anime"
            parameterType="string"
            >
        select oa.title
        from er_ci_yuan.otaku_anime as oa
        <where>
            oa.title like "%"#{key}"%"
        </where>
    </select>


    <select id="siteSelectAnimeListByQuery"
            parameterType="SiteAnimeQueryVo"
            resultType="Anime">
        select oa.id, admin_id, subject_id, subject_parent_id, title, price, anime_num, cover, buy_count, view_count, version, status, gmt_create, gmt_modified
        from er_ci_yuan.otaku_anime as oa
        <where>
            <trim suffixOverrides=" and">
                <if test="subjectParentId != '' and subjectParentId != null">
                    oa.subject_parent_id = #{subjectParentId} and
                </if>
                <if test="subjectId != '' and subjectId != null">
                    oa.subject_id = #{subjectId} and
                </if>
                oa.status = 'Normal' and
            </trim>
            <trim prefix="order by" suffixOverrides=",">
                <if test="hasViewSort == 1">
                    oa.view_count desc,
                </if>
                <if test="hasGmtModifiedSort == 1">
                    oa.gmt_modified desc,
                </if>
                <if test="hasGmtCreateSort == 1">
                    oa.gmt_create desc
                </if>
            </trim>
        </where>
    </select>

    <select id="siteSelectPageByQuery"
            parameterType="SiteAnimeQueryVo"
            resultType="Anime">
        select oa.id, admin_id, subject_id, subject_parent_id, title, price, anime_num, cover, buy_count, view_count, version, status, gmt_create, gmt_modified
        from er_ci_yuan.otaku_anime as oa
        <where>
            <trim suffixOverrides=" and">
                <if test="queryVo.subjectParentId != '' and queryVo.subjectParentId != null">
                    oa.subject_parent_id = #{queryVo.subjectParentId} and
                </if>
                <if test="queryVo.subjectId != '' and queryVo.subjectId != null">
                    oa.subject_id = #{queryVo.subjectId} and
                </if>
                oa.status = 'Normal' and
            </trim>
            <trim prefix="order by" suffixOverrides=",">
                <if test="queryVo.hasViewSort == 1">
                    oa.view_count desc,
                </if>
                <if test="queryVo.hasViewSort == -1">
                    oa.view_count ,
                </if>
                <if test="queryVo.hasGmtModifiedSort == 1">
                    oa.gmt_modified desc,
                </if>
                <if test="queryVo.hasGmtModifiedSort == -1">
                    oa.gmt_modified ,
                </if>
                <if test="queryVo.hasAnimeNumSort == 1">
                    oa.anime_num desc
                </if>
                <if test="queryVo.hasAnimeNumSort == -1">
                    oa.anime_num
                </if>
            </trim>
        </where>
    </select>


    <select id="siteSelectAnimeInfo"
            parameterType="string"
            resultType="SiteAnimeInfoVo">
        select
            oa.id,
            oa.title,
            oa.price,
            oa.anime_num as animeNum,
            oa.cover,
            oa.view_count as viewCount,
            oadesc.description,
            oad.id as adminId,
            oad.name as adminName,
            oad.intro,
            oad.avatar,
            os1.id as subjectLevelOneId,
            os1.title as subjectLevelOne,
            os2.id as subjectLevelTwoId,
            os2.title as subjectLevelTwo
        from
                er_ci_yuan.otaku_anime as oa
             inner join
                er_ci_yuan.otaku_admin as oad
             on oa.admin_id = oad.id

             inner join
                er_ci_yuan.otaku_subject as os1
             on oa.subject_parent_id = os1.id

             inner join
                er_ci_yuan.otaku_subject as os2
             on oa.subject_id = os2.id

             inner join
                er_ci_yuan.otaku_anime_description as oadesc
             on oadesc.id = oa.id

        where oa.id = #{animeId}
        and status = 'Normal'
    </select>

</mapper>
